* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin:0;
    background-color: #646464;
}

#login-page {
    text-align: center;
}

.nickname  {
    color:blue;
    margin-right:20px;
}
.hidden {
    display: none;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw;
    margin:0;
    background-color: #000000;
}

header .app-name{
    color: white;
    font-size: 2em;
    text-align: center;
}

.user-container {
    float: right;
    margin-right:5px;
}

.body_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-container {
    display: flex;
    background: #f4f6f6;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container title{
    position: relative;
    display: block;
    flex: 0;
}

#login-container #loginForm{
    flex: 1;
    text-align: center;
    margin-top: 40px;
    width: 100%;
}
#login-container #loginForm input{
    height: 30px;
    width: 60%;
}

#login-container #loginForm button{
    height: 30px;
}
#chat-container {
position: relative;
display: flex;
flex-direction: column;
height: 100%;
}

#chat-container #messageForm {
padding: 20px;
}

#chat-container .user-container{
height: 5%;
text-align: right;
}

#chat-container {
border: 2px solid #d5dbdb;
background-color:  #d5dbdb ;
max-width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
height: calc(100% - 60px);
max-height: 70%;
position: relative;

}

#chat-container ul {
list-style-type: none;
background-color: #fff;
margin: 0;
overflow: auto;
overflow-y: scroll;
padding: 0 20px 0px 20px;
height: calc(100% - 150px);
}

#chat-container #messageArea {
flex: 1;
padding: 0;
margin: 0 10px 0 10px;
border: 1px solid;
}

#chat-container #messageForm {
padding: 20px;
margin: 5px 0;
}

#chat-container ul li {
line-height: 1.5rem;
padding: 10px 20px;
margin: 0;
border-bottom: 1px solid #f4f4f4;
}

#chat-container ul li p {
margin: 0;
}

#chat-container .event-message {
width: 100%;
text-align: center;
clear: both;
background-color: #810000;
color: #ffffff;
}

#chat-container .event-message p {
color: #ffffff;
font-size: 14px;
word-wrap: break-word;
}

#chat-container .chat-message {
position: relative;
overflow-y: auto;
background-color: #dddddd;
}

#chat-container .sender{
color: orangered;
}

#messageForm .input-message  {
position: relative;
text-align: center;
width: calc(100% - 85px);
}

#messageForm .input-message input{
min-height: 30px;
min-width: 75%;
}

#messageForm .input-message button{
min-height: 30px;
}

.connecting {
text-align: center;
color: #777;
width: 100%;
}